@{
    ViewData["Title"] = "Школа";
}

@section Links {
    <div>
        <div style="margin-right:20px;float:right;">
            <a  asp-area="" asp-controller="Supplier" asp-action="Login">Вход</a>
        </div>
        <div style="margin-right:20px; float:right;">
            <a  asp-area="" asp-controller="Supplier" asp-action="Registration">Регистрация</a>
        </div>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p> Школа для пацанов</p>
</div>
