@model AbstractSchoolBusinessLogic.BindingModels.RequestSchoolSupplieBindingModel

@{
    ViewData["Title"] = "Пополнение";
}

<div class="text-left">
    <h4>Пополнение склада №@ViewBag.WareHouseId</h4>
</div>

<hr />
<div>
    <a class="text-dark" asp-action="ListSchoolSupplies" asp-route-fridgeId="@ViewBag.WareHouseId">Вернуться назад</a>
</div>
<hr />

<div class="text-left">
    <h4>@ViewBag.SchoolSupplieName</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="WareHouse" asp-action="AddSchoolSupplie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WareHouseId" />
            <input type="hidden" asp-for="SchoolSupplieId" />
            <div class="form-group">
                <label asp-for="Count" class="control-label">Количество</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
                <label asp-for="PricePerHour" class="control-label">Стоимость</label>
                <input asp-for="PricePerHour" class="form-control" />
                <span asp-validation-for="PricePerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Пополнить" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>